if !items || !items.length
    = 'Your cart is empty'
else
    -var total = items.reduce(function(memo, item){return memo + item.product.price * item.quantity}, 0)
    table.cart
        tr
            th Name
            th Price
            th Quantity
            th Cost
        each item in items
            tr.product
                td= item.product.name
                td.price= item.product.price + ' UAH'
                td
                    input(value= item.quantity data-product= item.product._id)
                td.cost= (item.product.price * item.quantity) + ' UAH'
        tr.actions
            td(colspan=4)
                .buttons
                    button(data-action='recalculate') Recalculate
                    button(data-action='order') Make Order
        tr.total
            td(colspan=3) Total Cost:
            td= total + ' UAH'